{% block content %}
<div class="container">
    <div id="bkg"></div>
    <div id="back">
        <div id="header">
            <div id="artistimg">
                <img src="{% url 'headimg' artistid 1 %}" class="rounded-circle"
                    style="width: 96px;height: 96px;object-fit: cover; object-position: center;margin-right: 30px;border:2px solid whitesmoke">
                <span style="color:white;font-size: 25px;">{{ artistname }}&nbsp;&nbsp;</span>
                {% ifequal 1 isprem %}
                <span class="badge badge-pill badge-success">premium</span>
                {% endifequal %}
            </div>
        </div>
        <div style="width: 100;">
            <span class="card-text"
                style="margin-left:calc(126px + 5%);color:grey;font-size: 15px;">&nbsp;No.{{ artistid }}</span>
        </div>

        <div style="width: 100;">
            <span class="badge badge-pill badge-secondary"
                style="margin-left:calc(126px + 5%);margin-top: 15px;">{{ num }}</span>
            <span class="card-text" style="color:gray;font-size: 15px;">illustions</span>
        </div>
        <div class="container" style="margin-top: 20px;">
            {% for i in wlist %}
            {% if forloop.counter0|divisibleby:5 %}
            <div class="row">
                <div class="col-2 offset-1">
                    <div class="holder">
                        <a href="{% url 'artworkpage' i.0 %}" style="text-decoration:none">
                            <img src="{% url 'artwork' i.0 2 %}" class="rounded"
                                style="width:100%;object-fit: cover; object-position: center; margin-bottom: 5px;"></img>
                            <p style="color: whitesmoke;">{{i.1}}</p>
                        </a>
                    </div>
                </div>
                {% elif forloop.counter0|add:-1|divisibleby:5 %}

                <div class="col-2">
                    <div class="holder">
                        <a href="{% url 'artworkpage' i.0 %}" style="text-decoration:none">
                            <img src="{% url 'artwork' i.0 2 %}" class="rounded"
                                style="width:100%;object-fit: cover; object-position: center;"></img>
                            <p style="color: whitesmoke;">{{i.1}}</p>
                        </a>
                    </div>
                </div>
                {% elif forloop.counter0|add:-2|divisibleby:5 %}

                <div class="col-2">
                    <div class="holder">
                        <a href="{% url 'artworkpage' i.0 %}" style="text-decoration:none">
                            <img src="{% url 'artwork' i.0 2 %}" class="rounded"
                                style="width:100%;object-fit: cover; object-position: center;"></img>
                            <p style="color: whitesmoke;">{{i.1}}</p>
                        </a>
                    </div>
                </div>

                {% elif forloop.counter0|add:-3|divisibleby:5 %}

                <div class="col-2">
                    <div class="holder">
                        <a href="{% url 'artworkpage' i.0 %}" style="text-decoration:none">
                            <img src="{% url 'artwork' i.0 2 %}" class="rounded"
                                style="width:100%;object-fit: cover; object-position: center;"></img>
                            <p style="color: whitesmoke;">{{i.1}}</p>
                        </a>
                    </div>
                </div>
                {% elif forloop.counter0|add:-4|divisibleby:5 or forloop.last%}

                <div class="col-2">
                    <div class="holder">
                        <a href="{% url 'artworkpage' i.0 %}" style="text-decoration:none">
                            <img src="{% url 'artwork' i.0 2 %}" class="rounded"
                                style="width:100%;object-fit: cover; object-position: center;"></img>
                            <p style="color: whitesmoke;">{{i.1}}</p>
                        </a>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div style="width: 100%;position: relative;">
            <div style="position: relative; margin:0 auto;text-align: center;font-size: 0;">
                {% ifequal 1 pages.1 %}
                <div class="rounded-left pages">
                    <a href='?p={{ pages.0|add:-2 }}'><span class="pagenum">&laquo;</span></a>
                </div>
                {% else %}
                <div class="rounded-left pages">
                    <span class="pagenum disabled">&laquo;</span>
                </div>
                {% endifequal %}
                {% for i in pages.3 %}
                {% ifequal i pages.0%}
                <div class="pages active">
                    <span class="pagenum">{{i}}</span>
                </div>
                {% else %}
                <div class="pages">
                    <a href="?p={{i|add:-1}}"><span class="pagenum">{{i}}</span></a>
                </div>
                {% endifequal %}
                {% endfor %}
                {% ifequal 1 pages.2 %}
                <div class="rounded-right pages">
                    <a href='?p={{ pages.0 }}'><span class="pagenum">&raquo;</span></a>
                </div>
                {% else %}
                <div class="rounded-right pages">
                    <span class="pagenum disabled">&raquo;</span>
                </div>
                {% endifequal %}
            </div>
        </div>
    </div>
</div>

{% endblock %}